<!-- Configuration List Page
	With a list of all transformation and algorithms the system has 
 -->
{% extends "base.html" %}
{% block infoWindow %}
<title>PySciT -Transformation List</title>
{% endblock %}
{% block mainBody %}
<div class="objectLine allExpand">
	<button class="left aButton b3 s16 yesPadding yesMargin " onclick="location.href='/home/'">
		&#8617; Back Home</button>
	<h1>Configuration List</h1>
</div>
<div class="textContent textLeft">
	<!--
		<p>
			This is the list of transformations available to apply
			on the Data items or add them as steps of a Pipeline
	-->
	<p>
		This is the list of transformations available 
		add them as steps of a Pipeline
	<div class="colText1 colText2 colText3">
		{% for aTr in allTr %}
		<li>{{aTr}}</li>
		{% endfor %}
	</div>
	</p>
	<p>
		And this is the list of the algorithms available to apply
		them on the Data items or add them as steps of a Pipeline
	<div class="colText1 colText2 colText3">
		{% for aAlg in allALG %}
		<li>{{aAlg}}</li>
		{% endfor %}
	</div>
	</p>

</div>

{% endblock %}