<!-- Help Page
    Just a help page with instructions and more info
 -->
{% extends "base.html" %}
{% block infoWindow %}
<title>PySciT -Help page</title>
{% endblock %}
{% block CSSs %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/help.css')}}">
{% endblock %}
{% block mainBody %}
<div class="objectLine allExpand">
    <button class="left aButton b3 s16 yesPadding yesMargin " onclick="location.href='/home/'">
        &#8617; Back Home</button>
    <h1>Help section</h1>
</div>
<div class="textContent textLeft">
    <h2>What's PySciT</h2>
    <p>
        PySciT, a Python Scikit-learn Pipelines Toolkit, is a system a tool for the management, construction and
        execution of pipelines for Machine Learning.
    </p>
    <p>
        The objective of this project is to develop a system that allows the architectural design of customizable
        pipelines for its use in machine learning. This tool has been designed and implemented for the management,
        construction and execution of pipelines in Python, using libraries such as Scikit-Learn or Pandas among others,
        through a simple interface to this end.
    </p>
    <p>
        You can find the repository code here in gitHub: https://github.com/lquirod/PySciT
    </p>
    <h2>User manual</h2>
    <embed
    type="application/pdf"
    src="{{ url_for('static', filename='PySciT-Manual.pdf') }}"
    width="80%"
    min-width="250px"
    height="650px"
    />
</div>

{% endblock %}
