<div class="objectLine allExpand">
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/datas/new/'">
    Create Data</button>
    <!-- <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/ListData/'">
        Data List</button> -->
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/pipelines/new/'">
        Create Pipeline</button>
    <!-- <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/ListPipeline/'">
        Pipeline List</button> -->
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/ConfigurationList/'">
        Configuration List</button>
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/help/'">
        Help section</button>
 </div>