<!-- Home Page
    With a summary of the Status and some important buttons links
 -->
{% extends "base.html" %}
{% block infoWindow %}
<title>PySciT -Home</title>
{% endblock %}
{% block mainBody %}
<div class="objectLine allExpand">
    <h1>Home menu</h1>
</div>
<div class="textContent">
    <p>
        Hi, {{Name}}.
    </p>
    <p>
        Total pipelines: {{numPipes}}
    </p>
    <p>
        Total datas: {{numDatas}}
    </p>
</div>
{% include "static/mainButtons.html" %}

{% endblock %}

{% block funcionesJS %}
<!-- <script src="js/basic.js" defer></script>
<script src="js/busqueda.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
{% endblock %}