<!-- Home Page
    With a summary of the Status and some important buttons links
 -->
 {% extends "base.html" %}

 {% block mainBody %}
 <h1>Oops, something went wrong!</h1>
 <div class="textContent">
     <p>Page Not Found, what you were looking for is just not there.</p>
        <p>You can usse the upper navigation bar or the buttons below with more interesting links:
     </p>
 </div>

<button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/'">
    Home menu</button>
 <div class="objectLine allExpand">
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/newData/'">
    Create Data</button>
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/newPipeline/'">
        Create Pipeline</button>
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/ListTransformations/'">
        Transformations List</button>
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/help/'">
        Help section</button>
 </div>
 {% endblock %}
 
 {% block funcionesJS %}
 <!-- <script src="js/basic.js" defer></script>
 <script src="js/busqueda.js" defer></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
 {% endblock %}