<!-- Base file
    Estructure of the web with a header menu, a side container with log and a body
 -->
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/base.css')}}">
{% block CSSs %}
{% endblock %}
<script src="https://kit.fontawesome.com/39c5095239.js" crossorigin="anonymous"></script>

<body>
    <!-- Window -->
    <head>
        {% block infoWindow %}
        <title>PyTSys</title>
        {% endblock %}
    </head>

    <!-- Header menu -->
    {% block Header %}
    <header id="header">
        <div id="NameWeb"> PyTSys </div>
        <nav id="HeadMenu">
            </p>
            <div class="objectLine">
                <a href="/home/">Home</a> |
            </div>
            <div class="objectLine">
                <a href="/datas/">Datas</a> |
            </div>
            <div class="objectLine">
                <a href="/pipelines/">Pipelines</a> |
            </div>
            <div id="LogButtonToggle" class="textLeft right objectLine">|
                <span onclick="toggleSection('SideLog')" id="buttonSideLog" class="pointer">Log view (Hidden)</span>
            </div>
            <div class="right objectLine">
                <a href="/help/">Help</a> |

            </div>
            </p>
        </nav>
    </header>
    {% endblock %}

    <!-- Central body -->
    <div id="centralPage">


        {% block centralPage %}

        <!-- Main section -->
        <main id="mainBody">
            {% block mainBody %}
            {% endblock %}
        </main>

        <!-- Side section with log -->
        {% block aside %}
        <aside id="SideLog" class="animacion hidden visuallyHidden">
            <h1>Log view</h1>
            <div id="LogView">
                <p>Es el 1 párrafo</p>
                <p>Es el 2 párrafo</p>
                <p>Es el 3 párrafo y este tiene más cosas aún</p>
                <p>Es el 4 párrafo</p>
                <p>Es el 5 párrafo</p>
                <p>Es el 6 párrafo</p>
                <p>Es el 7 párrafo</p>
                <p>Es el 8 párrafo</p>
                <p>Es el 9 párrafo</p>
                <p>Es el 10 párrafo</p>
                <p>Es el 11 párrafo</p>
                <p>Es el 12 párrafo</p>
                <p>Es el 13 párrafo</p>
                <p>Es el 14 párrafo</p>
                <p>Es el 15 párrafo</p>
                <p>Es el 16 párrafo</p>
                <p>Es el 17 párrafo</p>
                <p>Es el 18 párrafo</p>
                <p>Es el 19 párrafo</p>
                <p>Es el 20 párrafo</p>
                <p>Es el 21 párrafo</p>
                <p>Es el 22 párrafo</p>
                <p>Es el 23 párrafo</p>
                <p>Es el 24 párrafo</p>
                <p>Es el 25 párrafo</p>
            </div>
            <button id="ButtonLog" class="aButton b3">Save Log</button>
        </aside>
        {% endblock %}

        {% endblock %}
    </div>

    <!-- Footer
     -->
    {% block footer %}
    <!-- <footer id="footer">
        </p>
        <a href="index.php">Home</a> |
        <a href="index.php">Datas</a> |
        <a href="index.php">Pipelines</a> |
        <a href="index.php">Help</a>
        <br>@PyTSys
        </p>
    </footer> -->
    {% endblock %}

    {% block funcionesJS %}
    {% endblock %}
    <script src="{{url_for('static', filename='js/base.js')}}"></script>

</body>

</html>