<!-- Base file
    Estructure of the web with a header menu, a side container with log and a body
 -->
<!DOCTYPE html>
<html lang="en">
{% block CSSs %}
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/base.css')}}">
<script src="https://kit.fontawesome.com/39c5095239.js" crossorigin="anonymous"></script>

<body>
    <!-- Window -->

    <head>
        {% block infoWindow %}
        <title>PyTSys</title>
        {% endblock %}
    </head>

    <!-- Header menu -->
    {% block Header %}
    <header id="header">
        <div id="NameWeb"> PyTSys </div>
        <nav id="HeadMenu" class="allExpand objectLine">|
            <!-- <div class="objectLine"> -->
                <div class="objectLine">
                    <a href="/home/">Home</a> 
                </div>|
                <div class="objectLine">
                    <a href="/datas/">Datas</a> 
                </div>|
                <div class="objectLine">
                    <a href="/pipelines/">Pipelines</a> 
                </div>|
            <!-- </div>
            <div class="objectLine textRight "> -->
                <div class=" objectLine">
                    <a href="/help/">Help</a>
                </div>|
                <div id="LogButtonToggle" class=" objectLine">
                    <span onclick="toggleLogSection()" id="buttonSideLog" class="pointer">Log view (Hidden)</span>
                </div>
            <!-- </div> -->
        </nav>
    </header>
    {% endblock %}

    <!-- Central body -->
    <div id="centralPage">

        {% block centralPage %}
        <!-- Main section -->
        <main id="mainBody">
            {% block mainBody %}
            {% endblock %}
        </main>

        <!-- Side section with log -->
        {% block aside %}
        <aside id="SideLog" class="animacion hidden visuallyHidden">
            <div class="objectLine  textLeft">
                <h1 class="objectLine left">Log view</h1>

                <div class="right">
                    <label class="pointer" for="checkLog" class="right">
                        Block <input class="right" type="checkbox" onchange="checkBlock(this)" id="checkLog"
                            name="checkLog" title="Block" />
                    </label>
                </div>

            </div>
            <div id="LogView">
                {% for alog in LOG %}
                <p>{{alog}}</p>
                {% endfor %}
            </div>
            <button id="ButtonLog" class="aButton b3">Save Log</button>
        </aside>
        {% endblock %}

        {% endblock %}
    </div>

    <!-- Footer
     -->
    {% block footer %}
    <!-- <footer id="footer">
        </p>
        <a href="index.php">Home</a> |
        <a href="index.php">Datas</a> |
        <a href="index.php">Pipelines</a> |
        <a href="index.php">Help</a>
        <br>@PyTSys
        </p>
    </footer> -->
    {% endblock %}

    {% block funcionesJS %}
    {% endblock %}
    <script src="{{url_for('static', filename='js/base.js')}}" defer></script>

</body>

</html>