<!-- Home Page
    With a summary of the Status and some important buttons links
 -->
{% extends "base.html" %}
{% block infoWindow %}
<title>PyTSys -Home</title>
{% endblock %}
{% block mainBody %}
<h1>Home menu</h1>
<div class="textContent">
    <p>
        Aqui la ayuda, hola {{Name}}
    </p>
</div>

<div class="objectLine allExpand">
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/data/new/'">
    Create Data</button>
    <!-- <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/ListData/'">
        Data List</button> -->
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/pipeline/new/'">
        Create Pipeline</button>
    <!-- <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/ListPipeline/'">
        Pipeline List</button> -->
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/ListTransformations/'">
        Transformations List</button>
    <button class="aButton b3 s16 roundBorder yesPadding yesMargin object3" onclick="location.href='/help/'">
        Help section</button>
 </div>
{% endblock %}

{% block funcionesJS %}
<!-- <script src="js/basic.js" defer></script>
<script src="js/busqueda.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
{% endblock %}