<!-- Datas main menu Page
    With a summary of the Status and some important buttons links
 -->
{% extends "base.html" %}
{% block infoWindow %}
<title>PyTSys -Datas</title>
{% endblock %}
{% block mainBody %}
<div class="objectLine allExpand">
    <button class="left aButton b3 s16 yesPadding yesMargin " onclick="location.href='/home/'">
        &#8617; Back Home</button>
    <h1>Manage Datas Menu</h1>
</div>
<div class="textContent">
    <p>
        Aqui la ayuda, hola sean {{Name}}
    </p>
</div>
{% include "static/mainButtons.html" %}

{% endblock %}

{% block funcionesJS %}
<!-- <script src="js/basic.js" defer></script>
 <script src="js/busqueda.js" defer></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
{% endblock %}