<div class="allExpand yesMargin">
    Select a data
    <select id="selectData">
        <option value="First">First</option>
        <option value="Second">Second</option>
        <option value="Third">Third</option>
    </select>
    and the columns
</div>
<div class="allExpand">
    <div class="object2" id="prevData">
    </div>
    <div class="object2" id="selectCols">
        <select id="selectCols">
            <option value="First">First</option>
            <option value="Second">Second</option>
            <option value="Third">Third</option>
        </select>
    </div>
</div>