<!-- A Pipeline Page
    With a summary of the Status and some important buttons links
 -->
{% extends "base.html" %}
{% block CSSs %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/tables.css')}}">
{% endblock %}
{% block infoWindow %}
<title>PyTSys -Pipeline {{numPipe}} params</title>
{% endblock %}
{% block mainBody %}
<div class="objectLine allExpand">
    <button class="left aButton b3 s16 yesPadding yesMargin" onclick="location.href='/pipelines/get{{numPipe}}'">
        <div class="objectLine">
            &#8617;
            <div class="objectLine">
                Back to <br /> Pipeline {{numPipe}}
            </div>
        </div>
    </button>
    <h1>Pipeline parameters nº {{numPipe}}: <span id="thePipeName">{{thePipeline.Name}}</span></h1>
</div>
<div class="aform allExpand">
    <!-- <form action="/pipelines/new/" method="post" class="aform allExpand"> -->
    <div class=" objectLine alingTop yes yesMargin">
        <div class=" allExpand  textLeft">
            <span> Total Steps: {{ thePipeline.steps()|length }} </span>

            <div class="objectLine right">
                <!-- <span class="err"> Steps changed! </span> -->
                <button id="toggleModify" class="aButton b4 right" onclick="toggleModify()">
                    Modify disabled
                </button>
            </div>
        </div>
        <table id="" class="fixTable textCenter ">
            <thead>
                <tr class="s20">
                    <th class="minCol cell110">Pos</th>
                    <th class="cell1">Steps' Name</th>
                    <th class="minSmallCol ">Move</th>
                    <th class="minCol finalHeaderCell">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for aStep in thePipeline.steps() %}
                {% if loop.index0==thePipeline.hasAlgorithm %}
                <tr id="TR-{{loop.index0}}" class="boldText">
                    {% else %}
                <tr id="TR-{{loop.index0}}">
                    {% endif %}
                    <td class="minCol cell110">{{loop.index0}}</td>
                    <td id="COL-{{loop.index0}}" class="cell1 textCenter">
                        {{ aStep[0] }}</td>
                    <td name="movStep" class="Darker minSmallCol">
                        {% if loop.index0 != 0 %}
                        <span onclick="operateStep('MOVUP', '{{loop.index0}}' )" id="'MoveUp{{loop.index0}}"
                            class="pointer">
                            &#8657;
                        </span> |
                        {% endif %}
                        {% if loop.index != ( thePipeline.steps()|length ) %} |
                        <span onclick="operateStep('MOVDOWN', '{{loop.index0}}' )" id="'MoveDown{{loop.index0}}"
                            class="pointer">
                            &#8659;
                        </span>
                        {% endif %}
                    </td>
                    <td name="delStep" class="Darker minSmallCol">
                        <span onclick="operateStep('DEL', '{{loop.index0}}' )" id="'del{{loop.index0}}" class="pointer">
                            &#128465;
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="yesMargin objectLine">
        <label for="newName">Pipeline's name:</label> <br>
        <input type="text" name="newName" id="newName" value="{{ thePipeline.Name}}" maxlength="100">
        <button class="aButton b3  roundBorder yesPadding" onclick="changeNamePipeline()">
            Change name
        </button>
    </div>
    <div class="err" id="errPipeSection">
        {{thePipeline.aPipeline.get_params()}}
        </br>
        and
        </br>
        {{thePipeline.aPipeline.}}
    </div>
    <div class="yesMargin objectLine alingTop textLeft">
        <div class="yesMargin objectLine object2">
            <div class="objectLine">
                <button class="aButton b4 s16 yesPadding yesMargin object2">
                    Save Setup
                </button>
                <button class="aButton b4 s16 yesPadding yesMargin object2">
                    Add Step
                </button>
                <button class="aButton b4 s16 yesPadding yesMargin object2">
                    Parameters
                </button>
                <button class="aButton b4 s16 yesPadding yesMargin object2">
                    Fit
                </button>
                <button class="aButton b4 s16 yesPadding yesMargin object2">
                    Transform
                </button>
                <button class="aButton b4 s16 yesPadding yesMargin object2">
                    Score
                </button>
            </div>
            <button class="right aButton b1 s16 yesPadding yesMargin object2">
                Delete pipeline
            </button>
        </div>
        <div class="yesMargin objectLine object2">
            <table id="" class="textCenter smallTable">
                <thead>
                    <tr class="s20">
                        <th class="cell1">Other operations</th>
                        <th class="cell13"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for aStep in thePipeline.steps() %}
                    <tr id="OP-{{loop.index0}}">
                        <td id="oOP-{{loop.index0}}" class="cell1 textCenter">{{ aStep[0] }}</td>
                        <td id="oOP-{{loop.index0}}" class="cell13 textCenter">
                            <button>
                                Operate</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block funcionesJS %}
<script src="{{url_for('static', filename='js/pipelines.js')}}" defer>
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    var numPipe = '{{ numPipe }}';
    // var hasAlgorithm = parseInt('{{ thePipeline.hasAlgorithm }}');
</script>
<!-- <script type="text/javascript"> -->

{% endblock %}