/* base CSS */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Global settings ---- */
a {
    color: black;
    text-decoration: none;
}

p {
    text-indent: 15px;
    text-align: justify;
}

li {
    font-weight: normal;
    margin: 8px;
}

address {
    font-style: normal;
}

html {
    overflow-x: scroll;
}

body {
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    min-width: 670px;
    min-height: 600px;
}

body,
html {
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
    align-items: center;
    top: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Header settings ---- */
#header {
    width: 100%;
    min-width: 670px;
    margin: 0px;
    text-align: center;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-width: 1px;
    border-bottom: thick groove;
    overflow: hidden;
}

#NameWeb {
    width: 100%;
    vertical-align: middle;
    background-color: #6699CC;
    font-size: 45px;
    padding: 10px;
    margin: 0px;
}

#HeadMenu {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: #B4CBE2;
    font-size: 25px;
    margin: 0px;
    display: flex;
    justify-content: space-between
}

#HeadMenu a:hover,
#HeadMenu span:hover {
    font-weight: bold;
}

#LogButtonToggle {
    min-width: 240px;
}

#header h1,
#header h2,
#header p {
    margin: 0;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Central settings (Main and Side log) ---- */
#centralPage {
    height: calc(100vh - 109px);
    width: auto;
    min-height: 490px;
    display: flex;
    justify-content: space-between;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Side Log settings ---- */
#SideLog {
    width: 35%;
    min-width: 190px;
    max-width: 400px;
    min-height: 30px;
    overflow: hidden;
    position: center;
    background-color: #B4CBE2;
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 8px double #6699CC;
    text-indent: 15px;
    text-align: center;
}

#SideLog h1 {
    text-align: left;
    margin: 5px
}

#LogView {
    height: calc(100% - 80px);
    background-color: white;
    font-size: 15px;
    margin: 2%;
    border: 2px #6699CC;
    border-style: ridge;
    text-indent: 15px;
    overflow-y: scroll;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column-reverse;
    display: flex;
}

#LogView p {
    margin: 6px;
}

#ButtonLog {
    position: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Main settings ---- */
#mainBody {
    width: 100%;
    min-width: 470px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 12px;
    justify-content: space-around;
    overflow-y: auto;
    font-size: 18px;
}

#mainBody h1,
#mainBody h2 {
    margin: 5px;
    color: #4175a9;
}

.textContent {
    padding: 6%;
    padding-top: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Popup settings ---- */
#popUpBaseDiv {
    width: 100%;
    height: 100%;
    min-width: 670px;
    min-height: 600px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    background-color: rgba(123, 123, 123, 0.8);
    display: none;
    text-align: center;
    vertical-align: middle;
}

.popupDiv {
    display: none;
    position: relative;
    background-color: rgba(255, 255, 255);
    vertical-align: middle;
    min-width: 670px;
    min-height: 600px;
    z-index: 99;
    /* width: 80%;
    height: 80%; */
    min-width: 670px;
    min-height: 600px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding: 2%;
    overflow: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Form settings ---- */
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    width: auto;
    min-width: 15px;
    height: auto;
    min-height: 15px;
    padding: 0px;
    margin: 0px;
}

.aform {
    padding: 0px;
    margin: 0px;
}

/* Input settings */
.aform input[type="text"],
.aform textarea {
    width: 100%;
    font: 1em sans-serif;
    min-width: 200px;
    box-sizing: border-box;
    border: 1.5px solid #1d3785;
    background-color: rgb(247, 255, 255);
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Search  */
.search {
    width: 100%;
    min-width: 200px;
}

.search input {
    min-width: 200px;
    font: 1em sans-serif;
}

/* Form design settings */
textarea {
    height: 5em;
}

input:read-only {
    background-color: gainsboro;
    color: rgb(41, 41, 41);
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Buttons settings ---- */
/* Default button */
.aButton,
input[type="button"] {
    border-style: groove;
    border-radius: 15px;
}

.aButton:hover,
input[type="button"] {
    border-style: groove;
    border-radius: 15px;
}

.aButton:active,
input[type="button"] {
    border-style: groove;
    border-radius: 5px;
}

/* Personalized buttons */
.b1,
.b1:active {
    background-color: #efb6b6;
    border-radius: 0;
}

.b1:hover {
    background-color: #e89393;
    border-radius: 0;
}

.b2,
.b2:active {
    background-color: #ccfdcc;
    border-radius: 0;
}

.b2:hover {
    background-color: #aaf1aa;
    border-radius: 0;
}

.b3,
.b3:active {
    background-color: #e3f1fd;
    border-radius: 0;
}

.b3:hover {
    background-color: #d5e0e9;
}

.b4,
.b4:active {
    background-color: #093672;
    color: white;
    border-radius: 0;
}

.b4:hover {
    background-color: #022859;
    color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Additional settings ---- */
/* Secction design */
.otherSection {
    text-align: center;
    padding: 10px;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-top: 5px;
    background-color: lightcyan;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(150, 164, 255);
}

.border1 {
    border-style: groove;
}

.backGround0 {
    background-color: rgb(169, 169, 169);
}

.backGround1 {
    background-color: rgb(255, 219, 169);
}

.backGround2 {
    background-color: rgb(243, 198, 135);
}

.backGround3 {
    background-color: rgb(204, 253, 204);
}

.backGround4 {
    background-color: rgb(170, 241, 170);
}

.backGround5 {
    background-color: rgb(182, 252, 252);
}

.backGround6 {
    background-color: rgb(135, 215, 255);
}

.backGround7 {
    background-color: rgb(203, 181, 255);
}

.backGround8 {
    background-color: rgb(172, 140, 245);
}

.backGround9 {
    background-color: rgb(254, 215, 255);
}

.backGround10 {
    background-color: rgb(233, 152, 235);
}

.backGround11 {
    background-color: rgb(242, 237, 153);
}

.backGround12 {
    background-color: rgb(210, 125, 125);
}

.backGround13 {
    background-color: rgb(250, 250, 250);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Size Fonts settings */
.s15 {
    font-size: 15px;
}

.s16 {
    font-size: 16px;
}

.s18 {
    font-size: 18px;
}

.s20 {
    font-size: 20px;
}

.s24 {
    font-size: 24px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Visual settings */
.boldText {
    font-weight: bold;
}

.noBorder {
    border: none;
}

.yesBorder {
    border: black;
    border-width: 1px;
    border-style: ridge;
}

.roundBorder {
    border-radius: 20px;
}

.yesPadding {
    padding: 8px;
}

.yesMargin {
    margin: 8px;
}

.Darker {
    background-color: rgba(50, 50, 50, 0.4);
}

.animation {
    transition: all 0.5s linear;
}

.hidden {
    opacity: 0;
    display: none;
}

.visuallyHidden {
    opacity: 0;
}

.columsText {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

.colText2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

/* If screen settings */
@media only screen and (min-width: 900px) {
    .colText3 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (max-width: 700px) {
    .colText1 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 992px) {
    .colText4 {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 670px) {
    body {
        overflow-x: hidden;
    }

    html {
        overflow-x: hidden;
    }
}

@media only screen and (min-height: 600px) {
    body {
        overflow-y: hidden;
    }

    html {
        overflow-y: hidden;
    }

    #centralPage {
        height: calc(100vh - 109px);
    }
}

/* Align settings */
.object3 {
    max-width: 350px;
    width: 30%;
    min-width: inherit;
}

.object2 {
    width: 45%;
    min-width: inherit;
}

.object23 {
    width: 58%;
    min-width: inherit;
}

.objectLine {
    display: inline-block;
    justify-content: space-between;
    vertical-align: middle;
}

.allExpand {
    width: 100%;
}

/* Img settings */
.imagen {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Position settings */
.alingTop {
    vertical-align: top;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.right {
    float: right;
}

.left {
    float: left;
}

.fill {
    flex-grow: 1;
}

/* Other */
.rotateH {
    transform: scaleX(-1);
}

.err {
    color: red;
}

.pointer {
    cursor: pointer;
}