/* base CSS */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Global settings ---- */
a {
    color: black;
    text-decoration: none;
}

p {
    text-indent: 15px;
    text-align: justify;
}

li {
    font-weight: normal;
    margin: 8px;
}

address {
    font-style: normal;
}

/* html,
body {
   margin:0;
   padding:0;
   height:100%;
} */
html {
    /* overflow: hidden; */
    /* overflow: visible; */
    /* overflow-y: scroll; */
    overflow-x: scroll;
    /* height:100vw; */

}

body {
    /* overflow: visible; */
    /* overflow-y: scroll;  */
    overflow-x: scroll;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    height: 100%;
    width: 100%;
    min-width: 670px;
    min-height: 600px;
}

body,
html {
    /* height:100vh; */
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    align-items: center;
    top: 0;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    /* min-height:100%; */
    /* position:relative;     */
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Header settings ---- */
#header {
    width: 100%;
    min-width: 670px;
    /* height: 200px; */
    /* vertical-align: middle; */
    margin: 0px;
    text-align: center;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-width: 1px;
    border-bottom: thick groove;
    overflow: hidden;
    display: block;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    display: inline-block;
}

#NameWeb {
    width: 100%;
    /* height: 90px; */
    vertical-align: middle;
    background-color: #6699CC;
    font-size: 45px;
    padding: 10px;
    margin: 0px;
    /* display: inline */
}

#HeadMenu {
    width: 100%;
    /* height: 40px; */
    /* position: right; */
    vertical-align: middle;
    background-color: #B4CBE2;
    /* color: #B4CBE2; */
    /* font-size: calc(15px + 1vw); */
    font-size: 28px;
    /* padding: 10px; */
    margin: 0px;
}

#HeadMenu a:hover,
#HeadMenu span:hover {
    font-weight: bold;
}

#LogButtonToggle {
    width: 35%;
    min-width: 190px;
    max-width: 400px;
}

#header h1,
#header h2,
#header p {
    margin: 0;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Central settings (Main and Side log) ---- */
#centralPage {
    /* height: calc(100% - 110px); */
    /* height: calc(100% - 123px); */
    height: calc(100vh - 109px);
    /* height:a */
    width: auto;
    min-height: 490px;
    /* height: auto; */
    /* height: 80vh; */
    /* height: 100%; */
    /* height: 100vh; */

    /* padding: 15px;
    margin: 3%;
    margin-right: 2%;
    margin-left: 2%; */
    display: flex;
    justify-content: space-between;
    /* position: -webkit-sticky;
  position: sticky;
  top: 50px; */
    /* overflow-y: scroll; */
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Side Log settings ---- */
#SideLog {
    width: 35%;
    min-width: 190px;
    max-width: 400px;
    min-height: 30px;
    /* height: auto; */
    /* height: 300px; */
    /* height: 80vh; */
    overflow: hidden;
    position: center;
    background-color: #B4CBE2;
    /* background-color: lightgreen; */
    font-size: 16px;
    /* font-family:'Courier New', Courier, monospace; */
    /* calc(10px + 0.4vw); */
    /* padding-left: 5%; */
    padding-top: 0px;
    padding-bottom: 0px;
    /* margin-left: 3%; */
    border: 8px double #6699CC;
    text-indent: 15px;
    text-align: center;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    /* bottom: 0; */
    /* top: calc(80px + 1vw); */
    /* overflow-y: scroll; */
}

#SideLog h1 {
    text-align: left;
    margin: 5px
}

#LogView {
    /* height: 85%; */
    height: calc(100% - 80px);
    background-color: white;
    /* padding-left: 5%; */
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    font-size: 15px;
    margin: 2%;
    border: 2px #6699CC;
    border-style: ridge;
    text-indent: 15px;
    overflow-y: scroll;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column-reverse;
    display: flex;
}

#LogView p {
    margin: 6px;
}

#ButtonLog {
    position: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Main settings ---- */
#mainBody {
    width: 100%;
    min-width: 470px;
    /* height: auto; */
    /* height: 8000px; */
    /* height: 100%; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 12px;
    justify-content: space-around;
    overflow-y: auto;
    font-size: 18px;
}

#mainBody h1 {
    margin: 5px;
    color: #4175a9;
}

/* #mainBody p{
    font-size: 16px;
} */
.textContent {
    padding: 6%;
    padding-top: 0;
    padding-bottom: 20px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Form settings ---- */
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    width: auto;
    min-width: 15px;
    height: auto;
    min-height: 15px;
    padding: 0px;
    margin: 0px;
}

.aform {
    /* text-align: left; */
    /* padding: 20px; */
    padding-bottom: 0px;
    /* margin-top: 10px; */
    margin-bottom: 0px;
}

/* Input settings */
.aform input[type="text"],
.aform textarea {
    width: 100%;
    /* max-width: 95%; */
    font: 1em sans-serif;
    min-width: 200px;
    box-sizing: border-box;
    border: 1.5px solid #1d3785;
    background-color: rgb(247, 255, 255);
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Search  */
.search {
    width: 100%;
    /* max-width: 95%; */
    min-width: 200px;
    /* box-sizing: border-box; */
    /* margin-bottom: 20px; */
    /* border-radius: 5px; */
}

.search input {
    /* width: 95%;
    max-width: 95%; */
    min-width: 200px;
    font: 1em sans-serif;
    /* box-sizing: border-box; */
    /* margin-bottom: 20px; */
    /* border-radius: 5px; */
}

/* Form design settings */
textarea {
    height: 5em;
}

input:read-only {
    background-color: gainsboro;
    color: rgb(41, 41, 41);
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Buttons settings ---- */
/* Default button */
.aButton,
input[type="button"] {
    /* margin: 10px; */
    border-style: groove;
    border-radius: 15px;
}

.aButton:hover,
input[type="button"] {
    border-style: groove;
    border-radius: 15px;
}

.aButton:active,
input[type="button"] {
    border-style: groove;
    border-radius: 5px;
}

/* Personalized buttons */
.b1,
.b1:active {
    background-color: #efb6b6;
}

.b1:hover {
    background-color: #e89393;
}

.b2,
.b2:active {
    background-color: #ccfdcc;
    border-radius: 0;
}

.b2:hover {
    background-color: #aaf1aa;
    border-radius: 0;
}

.b3,
.b3:active {
    background-color: #e3f1fd;
    border-radius: 0;
}

.b3:hover {
    background-color: #d5e0e9;
}

.b4,
.b4:active {
    background-color: #093672;
    color: white;
    border-radius: 0;
}

.b4:hover {
    background-color: #022859;
    color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Additional settings ---- */
/* Secction design */
.otherSection {
    text-align: center;
    padding: 10px;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-top: 5px;
    background-color: lightcyan;
    border-radius: 20px;
    border-style: outset;
    border-color: rgb(150, 164, 255);
}

.border1 {
    border-style: groove;
}

.backGround1 {
    background-color: rgb(255, 219, 169);
}

.backGround2 {
    background-color: rgb(243, 198, 135);
}

.backGround3 {
    background-color: rgb(204, 253, 204);
}

.backGround4 {
    background-color: rgb(170, 241, 170);
}

.backGround5 {
    background-color: rgb(182, 252, 252);
}

.backGround6 {
    background-color: rgb(135, 215, 255);
}

.backGround7 {
    background-color: rgb(203, 181, 255);
}

.backGround8 {
    background-color: rgb(172, 140, 245);
}

.backGround9 {
    background-color: rgb(254, 215, 255);
}

.backGround10 {
    background-color: rgb(233, 152, 235);
}

.backGround11 {
    background-color: rgb(242, 237, 153);
}

.backGround12 {
    background-color: rgb(210, 125, 125);
}

.backGround13 {
    background-color: rgb(250, 250, 250);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Size Fonts settings */
.s15 {
    font-size: 15px;
}

.s16 {
    font-size: 16px;
}

.s18 {
    font-size: 18px;
}

.s20 {
    font-size: 20px;
}

.s24 {
    font-size: 24px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Visual settings */
.noBorder {
    border: none;
}

.roundBorder {
    border-radius: 20px;
}

.yesPadding {
    padding: 8px;
}

.yesMargin {
    margin: 8px;
}

.Darker {
    background-color: rgba(50, 50, 50, 0.4);
}

.animation {
    transition: all 0.5s linear;
}

.hidden {
    opacity: 0;
    display: none;
}

.visuallyHidden {
    opacity: 0;
}

.columsText {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

.colText2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

/* If screen settings */
@media only screen and (min-width: 768px) {
    .colText3 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (max-width: 700px) {
    .colText1 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 992px) {
    .colText4 {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 670px) {
    body {
        overflow-x: hidden;
    }

    html {
        overflow-x: hidden;
    }
}

@media only screen and (min-height: 600px) {
    body {
        overflow-y: hidden;
    }

    html {
        overflow-y: hidden;
    }

    #centralPage {
        height: calc(100vh - 109px);
    }
}

/* Align settings */
.object3 {
    max-width: 350px;
    width: 30%;
    min-width: inherit;
}

.object2 {
    width: 45%;
    min-width: inherit;
}

.object23 {
    width: 58%;
    min-width: inherit;
}

.objectLine {
    display: inline-block;
    justify-content: space-between;
    vertical-align: middle;
}

.allExpand {
    width: 100%;
}

/* Img settings */
.imagen {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Position settings */
.alingTop {
    vertical-align: top;
}

.textLeft {
    text-align: left;
}

.right {
    float: right;
}

.left {
    float: left;
}

.fill {
    flex-grow: 1;
}

/* Para voltear imagen */
.rotateH {
    transform: scaleX(-1);
}

.err {
    color: red;
}

.pointer {
    cursor: pointer;
}