
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*  ---- Table settings ---- */
td.tabSubtitle {
    /* width: 100%; */
    max-height: 15px;
    text-align: left;
    background-color: #d5e0e9;
}
tr, thead{
    width: 100%;
}
th,
td {
    border: 1px solid black;
    padding: 5px;
}

table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    min-width: 250px;
    /* margin-top: 5px; */
    margin: 0px;
    background-color: #e3f1fd;
    border: 3px solid rgb(105, 116, 197);
    display: block;
    overflow-y: auto;
    /* min-height: 360px; */
    /* max-height: calc(100vh - 230px); */
    text-align: center;
}

.smallTable tbody {
    display: block;
    overflow: auto;
    max-height: calc(40vh);
    width: 100%;
    min-height: 150px;

}

table div {
    max-height: 85px;
    overflow: auto;
}

th {
    background-color: #abc9e8;
    border-right: transparent;
    border-left: transparent;
}
.fixTable tbody {
    display: block;
    overflow: auto;
    max-height: calc(100vh - 270px);
    width: 100%;
    min-height: 250px;

}

.fixTable thead tr {
    /* display: block; */
    display: table-row;
    /* display:table-header-group; */
}


/*  ---- Table design settings ---- */
tr:nth-child(even) {
    background-color: #d5e0e9;
}

tr:hover td {
    background-color: #b4e4f7;
}

.checkColumn {
    width: 80px;
    overflow: visible;
}

.minCol {
    min-width: 35px;
    /* text-align: center; */
}
.minSmallCol {
    min-width: 65px;
    /* text-align: center; */
}
.minMediumCol {
    min-width: 115px;
    /* text-align: center; */
}
.minLargeCol {
    min-width: 150px;
    /* text-align: center; */
}

.lineColumn {
    min-width: 110px;
    max-width: 280px;
    scroll-behavior: smooth;
}

.largeColumn {
    min-width: 110px;
    text-align: left;
}

.finalHeaderCell{
    border-right: transparent;
    min-width: 83px;
    /* column-span: 2; */
    /* padding-right: 18px; */
}

.dataframe {
    display: table;
    min-width: none;
}

.cell1 {
    width: 100%
}
.cell910{
    width: 90%;
}
.cell45{
    width: 80%;
}
.cell23{
    width: 63%;
}
.cell12{
    width: 50%;
}
.cell25{
    width: 40%;
}
.cell13{
    width: 30%;
}
.cell14{
    width: 25%;
}
.cell15{
    width: 20%;
}
.cell18{
    width: 12.5%;
}
.cell110{
    width: 10%;
}
